In [6]:
import pandas as pd
from pathlib import Path

In [10]:
pwd

'C:\\Users\\nawue\\OneDrive\\Desktop\\pybank\\Python-Homework'

In [13]:
budget_data = 'budget_data.csv'

In [14]:
df = pd.read_csv(budget_data)

In [15]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [16]:
#Find Tatal Number of Months
df.columns

Index(['Date', 'Profit/Losses'], dtype='object')

In [17]:
df["Date"].value_counts()

Date
Jan-2010    1
Jul-2014    1
Mar-2015    1
Feb-2015    1
Jan-2015    1
           ..
Apr-2012    1
Mar-2012    1
Feb-2012    1
Jan-2012    1
Feb-2017    1
Name: count, Length: 86, dtype: int64

In [18]:
len(df.index)

86

In [19]:
#Find the summation of Profit/Losses
df["Profit/Losses"].sum()

38382578

In [20]:
#Find the average changes in Profit/Losses
df["Profit/Losses"].mean()

446309.0465116279

In [21]:
#Find the greatest increase
df["Profit/Losses"].max()

1170593

In [22]:
#Find the greatest decrease
df["Profit/Losses"].min()

-1196225

In [25]:
#Writing my answers in a statement box.


print("Financial Anaylsis")
print("___________________________________________________________")
months = len(df.index)
average = df["Profit/Losses"].mean()
maximum = df["Profit/Losses"].max()
minimum = df["Profit/Losses"].min()
month_count = (f' The total of all the months in the data frame is {months}')
first_statement = (f' the average (mean) of Profit/Losses is {average}')
second_statement = (f' the maximum profit is {maximum}.')
third_statement = (f' the minimun profit is {minimum}.')
print(month_count)
print(first_statement)
print(second_statement)
print(third_statement)

Financial Anaylsis
___________________________________________________________
 The total of all the months in the data frame is 86
 the average (mean) of Profit/Losses is 446309.0465116279
 the maximum profit is 1170593.
 the minimun profit is -1196225.